<html>
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/img/icons/favicon.png" type="image/x-icon">
    <meta name="csrf-param" content="_csrf">
    <meta name="csrf-token" content="8tZETDLOI1GLBFM2420cFuR7pGE20ithcn0LgxVK6ZnF-x0BdI9QFNtyFWyvO0t9skrNGGebe1M6OEfLdhm92g==">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta property="og:site_name" content="ICOPools.io">
    <meta property="og:image" content="/img/icons/logo_footer.png">
    <meta property="og:title" content="ICO Pools">
    <meta property="og:url" content="https://icopools.io/en/?link=">
    <meta property="og:locale" content="en_US">

    <title>ICO Pools</title>
    
</head>
<body>
      <header class="header fixed">
        <div class="container">
            <div class="wrap_header">
                <div class="wr_logo">
                    <a href="/en/" class="logo"><img src="logo.png" alt=""></a>
                    <p>List of ICO Pools</p>
                    <div class="wr_menu">
                        <ul>
                            <li><a href="/en/about">About</a></li>
                            <li><a href="/en/faq">FAQ</a></li>
                            <li><a href="/en/adv">Adv</a></li>
                            <li class="hidden-desktop"><a href="javascript:void(0);" class="add-ico-button">Add ICO</a></li>
                            <li class="hidden-desktop"><a href="javascript:void(0);" class="add-pool-button">Add pool</a></li>
                            <li class="hidden-desktop"><a href="javascript:void(0);" class="bug-report-button add-bug-button">Report a bug</a></li>
                        </ul>
                        <div class="wr_lang">
                            <a class="active-lang" href="/en/changeLang/en">EN</a><a class="" href="/en/changeLang/ru">RU</a>                        </div>
                    </div>
                </div>
                <div class="wr_search">
                    <form action="/en/" id="search_form">
                        <input type="search" id="ico_search_input" class="inp_s ui-autocomplete-input" name="search" value="" placeholder="ICO/pool search" autocomplete="off">                    <span class="search_ic"></span>
                                        </form>
                </div>
                <div class="right_head">
                    <div class="right_button">
                        <a href="javascript:void(0);" class="button-add add-ico-button">+ Add ICO</a>
                        <a href="javascript:void(0);" class="button-add add-pool-button">+ Add pool</a>
                    </div>
                    <div class="right_lang">
                        <a class="active-lang" href="/en/changeLang/en">EN</a><a class="" href="/en/changeLang/ru">RU</a>                    </div>
                </div>
                <button class="pull"></button>
            </div>
        </div>
    </header>
    <footer class="footer">
        <div class="container">
            <div class="wrap_footer">
                <div class="left_footer">
                    <a href="https://icopools.io/en/" class="logo_foot"><img src="./ICO Pools_files/logo_foot.png" alt=""></a>
                    <p>List of ICO Pools</p>
                    <p class="copyright">© 2018 ICOPools.io</p>
                </div>
                <div class="right_footer">
                    <div class="right_footer2">
                        <div class="foot_menu">
                            <ul>
                                <li>
                                    <ul>
                                        <li><a href="https://icopools.io/en/about">About</a></li>
                                        <li><a href="https://icopools.io/en/disclaimer">Disclaimer</a></li>
                                        <li><a href="https://icopools.io/en/adv">Advertising</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <ul>
                                        <li><a href="javascript:void(0);" class="feedback-link">Feedback</a></li>
                                        <li><a href="https://icopools.io/en/faq">FAQ</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <ul>
                                        <li><a href="https://twitter.com/ICOpools_io" target="_blank">Twitter</a></li>
                                        <li><a href="https://medium.com/@ICOpools_io" target="_blank">Medium</a></li>
                                        <li><a href="https://bitcointalk.org/index.php?topic=3314699.0" target="_blank">BitcoinTalk</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <ul>
                                        <li><a href="https://t.me/icopoolsen" target="_blank">TELEGRAM CHAT</a></li>
                                        <li><a href="https://t.me/icopools_alerts" target="_blank">TELEGRAM ALERTS</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="foot_right">
                            
                        </div>
                    </div>
                    <a href="javascript:void(0);" class="button-red add-bug-button">Report a bug<br>in the data</a>
                </div>
            </div>
        </div>
    </footer>
    <!-- Script section -->
    <script src="./ICO Pools_files/jquery.js"></script><ym-measure class="ym-viewport" style="display: block; top: 0px; right: 0px; bottom: 0px; left: 0px; position: fixed; transform: translate(0px, -100%); transform-origin: 0px 0px;"></ym-measure><ym-measure class="ym-zoom" style="bottom: 100%; position: fixed; width: 100vw;"></ym-measure>
<script src="./ICO Pools_files/jquery-ui.js"></script>
<script src="./ICO Pools_files/jquery.min.js"></script>
<script src="./ICO Pools_files/jquery-mTab-min.js"></script>
<script src="./ICO Pools_files/jquery.arcticmodal-0.3.min.js"></script>
<script src="./ICO Pools_files/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="./ICO Pools_files/jquery.formstyler.js"></script>
<script src="./ICO Pools_files/jquery.cookie.js"></script>
<script src="./ICO Pools_files/jquery.maskedinput-1.2.2.js"></script>
<script src="./ICO Pools_files/jquery-ui.min.js"></script>
<script src="./ICO Pools_files/core.js"></script>
<script src="./ICO Pools_files/upload.js"></script>
<script src="./ICO Pools_files/scripts.js"></script>
</body>
  
</html>


